<div class="well well-sm" ng-if="alta.errorMsg">
    <h1><span class="label label-danger">{{alta.errorMsg}}</span></h1>
    <div class="row">
        <div class="col-xs-offset-4 col-xs-4">
            <button type="button" class="btn btn-default" ng-click="alta.errorMsg=null">Cerrar</button>
        </div>
    </div>
</div>

<div class="well well-sm">
    <div class="row">
        <div class="col-xs-offset-4 col-xs-4">
            <img src="app/img/menu_set_quiniela.png" />
            <h1>Alta de usuario</h1>
        </div>
    </div>
    <div ng-class="['form-group']">
        <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
                <label class="control-label" for="inputEmail">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
                <input type="text" class="form-control" ng-model="alta.email" id="inputEmail"/>
                <span class="label label-danger" ng-if="alta.email|EmailFilter">{{alta.email|EmailFilter}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
                <label class="control-label" for="pssdInput">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
                <input type="password" class="form-control"  ng-model="alta.password" id="pssdInput"/>
                <span class="label label-danger" ng-if="alta.password|PassFilter">{{alta.password|PassFilter}}</span>
            </div>
        </div>
         <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
                <label class="control-label" for="pssdInput">Repeat password</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
                <input type="password" class="form-control"  ng-model="alta.passwordRepeat" id="pssdRInput"/>
                <span class="label label-danger" ng-if="alta.passwordRepeat|PassFilterRepeat: alta.password">{{alta.passwordRepeat|PassFilterRepeat:alta.password}}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-xs-offset-4 col-xs-4">
            <button type="button" ng-click="alta.clean()" class="btn btn-default">Reset</button>&nbsp;
            <button type="button" ng-click="alta.altaAction()" ng-class="['btn', 'btn-primary', {'disabled':((alta.password|PassFilter) || (alta.email|EmailFilter)|| (alta.passwordRepeat|PassFilterRepeat: alta.password))}]">Save</button>
        </div>
    </div>
</div>
