<div class="well well-sm" ng-if="(login.errorMsg) || (login.message)">
    <h1><span ng-class="['label', {'label-danger': login.errorMsg}, {'label-success':login.message}]">{{login.errorMsg}}{{login.message}}</span></h1>
    <div class="row">
        <div class="col-xs-offset-4 col-xs-4">
            <button type="button" class="btn btn-default" ng-click="login.errorMsg=null; login.message=null">Cerrar</button>
        </div>
    </div>
</div>

<div class="well well-sm">
    <div class="row">
        <div class="col-xs-offset-4 col-xs-4">
            <img src="app/img/menu_set_quiniela.png" />
            <h1>Aminiela</h1>
        </div>
    </div>
    <div ng-class="['form-group']">
        <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
                <label class="control-label" for="inputEmail">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
                <input type="text" class="form-control" ng-model="login.email" id="inputEmail"/>
                <span class="label label-danger" ng-if="login.email|EmailFilter">{{login.email|EmailFilter}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
                <label class="control-label" for="pssdInput">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
                <input type="password" class="form-control"  ng-model="login.password" id="pssdInput"/>
                <span class="label label-danger" ng-if="login.password|PassFilter">{{login.password|PassFilter}}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-xs-offset-4 col-xs-2">
            <button type="button" ng-click="login.alta()" class="btn btn-default">Alta usuario</button>
        </div>
        <div class="col-xs-2">
            <button type="button" ng-click="login.clean()" class="btn btn-default">Reset</button>&nbsp;
            <button type="button" ng-click="login.loginAction()" ng-class="['btn', 'btn-primary', {'disabled':((login.password|PassFilter) || (login.email|EmailFilter))}]">Login</button>
        </div>
    </div>
</div>
